@model IEnumerable<RealSys.CoreLib.Models.Erp.CustEntClauses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtEncoded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EncodedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustEntMain)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtEncoded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncodedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustEntMain.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
