@model IEnumerable<RealSys.CoreLib.Models.DTO.Activities.cUserActivity>

@{
    ViewBag.Title = "User Activities : " + @ViewBag.User;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Sales Rep :
    @ViewBag.User
</h2>
<p>
    @Html.ActionLink("Back to List", "Performance")
</p>

<h3>Customer Activities</h3>

<!-- Search -->
<div class="row" style="margin-left:0px;">
    <div class="col-4">
    <div class="input-group mb-3" >
        <span class="input-group-text" >Filter: </span>
        <input id="DtStart" name="DtStart" type="text" class="form-control" value="@ViewBag.sDate" />
        <input id="DtEnd" name="DtEnd" type="text" class="form-control" value="@ViewBag.eDate" />
        <button class="btn btn-outline-primary" onclick="Search()"> Search </button>
    </div>
    </div>
</div>
<br />

<div class="card mb-3">
    <div class="card-body">

        <h4>Company Activities</h4>
        <p hidden>
            <a class="cursor-hand" onclick="CreateActivity()">
                Add Activity
            </a>
        </p>
        @*<a class="cursor-hand" onclick="ReloadActivitySummary()">
                Update
            </a>*@
        <table class="table" id="Act-Main-Table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    Work
                </th>
                <th>
                    Company
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assigned)
                </th>
                <th>
                    @if (ViewBag.IsAdmin)
                    {
                        @Html.DisplayNameFor(model => model.Points)
                    }
                </th>
                <th></th>
            </tr>


            <!-- Total Points -->
            @{ int totalPoints = 0; }

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @DateTime.Parse(item.Date.ToString()).ToString("MMM-dd yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        <a style="cursor:pointer;" onclick="SearchCodeActivities('@item.SalesCode')">  @Html.DisplayFor(modelItem => item.SalesCode) </a>
                    </td>
                    <td>
                        @if (item.Amount != null)
                        {
                            @Decimal.Parse(item.Amount.ToString()).ToString("N0")
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <!-- Work -->
                        @Html.DisplayFor(modelItem => item.ActivityType)
                    </td>
                    <td>

                        @Html.ActionLink(item.Company, "Details", "CustEntMains", new { id = item.CustEntMainId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @item.UserRemoveEmail(item.Assigned)
                    </td>
                    <td>
                        @if (ViewBag.IsAdmin && item.Points != 0)
                        {
                            @Html.DisplayFor(modelItem => item.Points)
                        }
                    </td>
                    <td>
                        @if (ViewBag.IsAdmin)
                        {
                            <text>
                                <a class="cursor-hand" onclick="EditActivity(@item.Id)">
                                    Edit
                                </a> |
                                <a class="cursor-hand" onclick="DeleteActivity(@item.Id)">
                                    Delete
                                </a>
                            </text>
                        }
                    </td>
                </tr>
                totalPoints += item.Points;
            }

            <tr>
                <td colspan="9"></td>
                <td>  Total Points:</td>
                <td> <b> @totalPoints </b></td>
                <td>  </td>
            </tr>
        </table>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        @{Html.RenderPartial("UserActivities_PartialTypeReport", (RealSys.CoreLib.Models.DTO.Activities.cUserPerformanceReport)ViewBag.PerfSummary);}
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        @{
            Html.RenderPartial("UserActivities_PartialSalesReport", (RealSys.CoreLib.Models.DTO.Activities.cUserSalesReport)ViewBag.SalesSummary);
        }
    </div>
</div>
<hr />

@{Html.RenderPartial("UserActivities_ActivityCreate", (RealSys.CoreLib.Models.Erp.CustEntActivity)ViewBag.custEntActivity);}
@{Html.RenderPartial("UserActivities_ActivityEdit", (RealSys.CoreLib.Models.Erp.CustEntActivity)ViewBag.custEntActivity);}
@Html.Partial("_SalesCodeModal")



@section Scripts{
    <script src="~/js/Job/DefaultDate.js"></script>
    <script src="~/js/Activities/SearchByCode.js"></script>
    <script type="text/javascript" src="~/js/Activities/UserActivities.js"> </script>

}
