@model IEnumerable<RealSys.CoreLib.Models.DTO.Customers.CustomerDetails>

@{
    ViewBag.Title = "Contact Listing";
    //Session["ROOTMENUID"] = 5;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="view-header">

    <h2>Contact List</h2>

    <div class="header-btn-list">

        <div class="btn-group">
            @Html.ActionLink("Add Contact", "CreateCustomer", null, null,new { @class = "btn btn-primary" })
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" hidden>
                <li>
                    @Html.ActionLink("Deactivate Old Users", "DeactivateOldCustomer")
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="view-content">
    <div class="filter-panel">
        
        <br />
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <label class="input-group-text" for="inputgroupSort">Sort by</label>
            <button type="button" class="btn btn-outline-primary" id="DATE"> Date Added</button>
            <button type="button" class="btn btn-outline-primary" id="NAME">Name</button>
            <button type="button" class="btn btn-outline-primary" id="JOBSCOUNT" > Job Count </button>
        </div>
       
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <label class="input-group-text" for="inputgroupSort">Show</label>
            <button type="button" class="btn btn-outline-primary" id="ALL"> DALL</button>
            <button type="button" class="btn btn-outline-primary" id="ACTIVE">ACTIVE</button>
            <button type="button" class="btn btn-outline-primary" id="INACTIVE"> INACTIVE </button>
            <button type="button" class="btn btn-outline-primary" id="BAD"> BAD </button>
        </div>
        <div class="search-panel">
            <br />
            <div class="input-group mb-3">
                 <input class=" form-control" id="srch-field" type="search" placeholder="Search by name..."  />
                 <button class="btn btn-primary" onclick="ajax_loadContent()">  Search </button>
            </div>
        </div>
    </div>

    <table class="table" >
        <tr>
            <th><span> CUSTOMER </span></th>
            <th><span> TEL </span></th>
            <th><span> MOBILE </span>  </th>
            <th><span> COMPANY </span></th>
            <th><span> STATUS </span></th>
            <th></th>
        </tr>

        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Contact1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Contact2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = customer.Id }, null)
                </td>
            </tr>
        }


    </table>

</div>
@section Scripts{

}
