<h3>MenuList</h3>

@code {
    @using RealSys.Modules.SysLib.Models

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string targetRoute { get; set; }

    [Parameter]
    public List<MenuItem> Items { get; set; }

}

<p>
    under cons    
</p>

<ul class="list-unstyled components">
    @if( Items != null && Items.Count()>0 )
    {
        foreach (var menu in Items)
        {
            <li>

                @if (menu.SubMenuItems != null)
                {
                    <a href="@menu.Route" class="btn sidebar-header-collapse" data-bs-toggle="collapse" data-bs-target="#@menu.MenuNameHTMLId-collapse">
                        @menu.MenuName
                    </a>

                    <div class="collapse" id="@menu.MenuNameHTMLId-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            @foreach(var submenuItem in menu.SubMenuItems ){
                                <li><a href="@submenuItem.Route" class="link-light"> @submenuItem.MenuName  </a></li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <a href="@menu.Route">
                        @menu.MenuName
                    </a>
                }
            </li>

        }
    }
</ul>
